body {
background-image: url("background2.png");
}

#titulo1 {
 color: white;
 text-align: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img1{
  text-align: center;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.objetivo{
  text-align: center;
  color: white;
  border-style: solid;
  background-color: rgb(69, 73, 69);
  max-width: 600px;
  margin: auto;
}
#descricao{
  color: white;
  text-align: center;
  font-family: italic;
  font-size: 25px;
}
.formacao{
  text-align: center;
  color: white;
  border-style: solid;
  background-color: rgb(69, 73, 69);
  max-width: 600px;
  margin: auto;
}
.cursos{
  text-align: center;
  color: white;
  border-style: solid;
  background-color: rgb(69, 73, 69);
  max-width: 600px;
  margin: auto;
}
.complementares{
  text-align: center;
  color: white;
  border-style: solid;
  background-color: rgb(69, 73, 69);
  max-width: 600px;
  margin: auto;
}
.back{
  color: white;
  border-style: solid;
  background-color: rgb(69, 73, 69);
  width: 5%;
}
a { 
  text-decoration: none
}
p {
  color: white;
  font-family: italic;
  font-size: 25px;
}
#tituloobjetivo{
  text-align: center;
  color: white;
  border-style: solid;
  background-color: rgb(69, 73, 69);
  max-width: 500px;
  margin: auto;
}
.fotoobjetivo{
  text-align: center;
}
.imagemformacao{
  text-align: center;
}
.imagemformacao2{
  text-align: center;
}
.suporte{
  text-align: center;
}
.senac{
  text-align: center;
}
.guanabara{
  text-align: center;
}
.copyright{
  text-align: center;
}

@media (max-width: 480px) {
  .back {
    width: max-content;
    padding: 5px 30px;
    margin-bottom: 10px;
  }
}